
*{
    margin: 0px;
    padding: 0px;
  }




.heading{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 240px 0px;
    background-color: rgba(229, 84, 115, 0.10);
  }
  .feature-head{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin: 180px 0px 25px;
  }
  .feature-airtecal{
    color: rgba(27, 22, 22, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 50px;
  }

  .img-content{
    display: flex;
    justify-content: space-around;
    gap: 25px;
    align-items: flex-end;
  }
  .img-text{
    color: #111111;
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
  margin-top: 32px;
  }
  .img-size{
    padding: 100px 70px 0px;
  background-color: rgba(167, 33, 98, 0.15);
  border-radius: 300px 300px 0px 0px;
  }