
*{
    margin: 0px;
    padding: 0px;
  }




.heading{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 200px 0px 0px 240px;
    width:700px ;
    
  }
  .feature-head{
    color:black;
    font-size: 40px;
    font-weight: 800;
    margin: 180px 0px 25px;
  }
  .feature-airtecal{
    color:black;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 50px;
  }

  .img-content{
    display: flex;
    justify-content: space-around;
    gap: 25px;
    align-items: flex-end;
  }
  .img-text{
    color: #111111;
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
  margin-top: 32px;
  }
  .img-size{
    padding: 100px 70px 0px;
  background-color: rgba(167, 33, 98, 0.15);
  border-radius: 300px 300px 0px 0px;
  }
  .box{
    display: flex;
    margin: 130px auto;
    justify-content: space-between;
    padding: 85px 175px;
    background-color: rgba(39, 39, 39, 0.05);
    gap: 50px;
  }
  .deal-container{
    display: flex;
   align-items: center;
  justify-content: center;
  gap: 150px;
  text-align: center;
  margin-bottom: 140px;}

  .insta{
    color:black;
  font-size: 40px;
  font-weight: 500;}
  .insta-img{
    display: flex;
    gap: 30px;
    height: 300px;
  width: 250px;
}